{# app/Resources/views/Emails/registration.html.twig #}
<h3>Registrierung erfolgreich</h3>

Hallo {{ name|e }},

vielen Dank für deine Registierung. Dein Benutzername lautet {{ username }} und dein Passwort {{ password }}.

Viele Grüße