{# file: src/LJTrTool/RegistrationBundle/Resources/views/Default/index.html.twig #}
 
{% extends 'LJTrToolRegistrationBundle::layout.html.twig' %}
 
{% block title 'Registration' %}
 
{% block body %}
 
    <h1>Hello {{ name }}! </h1>
     
{% endblock %}